@model epeacweb.Models.TaskViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.taskName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.taskName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.taskDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.taskDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.taskStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.taskStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.taskEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.taskEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.taskStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.taskStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.totalRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.totalRating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-light btn-block">Edit</a>
    <a asp-action="Index" class="btn btn-light btn-block" >Back</a>
</div>
