@model IEnumerable<epeacweb.Models.ProjectViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-light "><i class="fa fa-plus" aria-hidden="true"></i>
         Create New
    </a>
</p>
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectManager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectStatus)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectManager.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectStatus)
            </td>
                <td>
                    <a asp-action="Edit" class="btn btn-light" asp-route-id="@item.Id">
                        <i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a asp-action="Details" class="btn btn-light" asp-route-id="@item.Id">
                        <i class="fa fa-info-circle" aria-hidden="true"></i></a>
                    <a asp-action="Delete" class="btn btn-light" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete the record')">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
        </tr>
}
    </tbody>
</table>
